.titulo-contet {
  text-align: center;
  background: url(img/foto2.jpg) no-repeat;
  box-shadow: 5px 5px 30px rgb(0, 0, 0);
  height: 400px;
  background-position: 50% 0;
  padding: 20px;
}
.titulo-1 {
  font-size: 50px;
  margin-bottom: 100px;
  text-shadow: 3px 3px 20px white;
}
.titulo-2 a {
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  border-radius: 15px;
  color: black;
  background: linear-gradient(80deg, violet, black);
  transition: 0.6s;
}
@media (max-width: 999px) {
  .titulo-2 a {
    word-break: break-all;
  }
  .titulo-contet {
    background-image: none;
    background-color: pink;
    height: 540px;
  }
}

.titulo-2 {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.titulo-2 a:hover {
  background: linear-gradient(90deg, white, rgb(224, 146, 224));
  box-shadow: 3px 3px 20px pink;
  color: rgb(243, 147, 163);
}
@media (max-width: 1379px) {
  .titulo-2 {
    flex-wrap: wrap;
  }
  .curso-contet {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .titulo-1 {
    font-size: 35px;
  }
  .titulo-2 a {
    padding: 12px;
    font-size: 20px;
  }
  .titulo-2 {
    gap: 30px;
  }
  .titulo-contet {
    height: 500px;
    background: linear-gradient(rgb(110, 2, 110), black);
  }
}
