.titulo {
  background-color: black;
  padding: 30px;
}

.titulo-contet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
}

.titulo-1 {
  color: white;
}
.titulo-2 {
  gap: 60px;
}
.titulo-2 a {
  text-decoration: none;
  color: rgb(255, 254, 255);
  font-size: 20px;
  position: relative;
}
.titulo-2 a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #720ec4;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.titulo-2 a:hover::after {
  width: 100%;
}

@media (max-width: 999px) {
  .titulo-2 a {
    word-break: break-all;
  }
  .titulo-contet {
    background-image: none;
    background-color: pink;
    height: 540px;
  }
}

.titulo-2 {
  display: flex;
}

@media (max-width: 1379px) {
  .titulo-2 {
    flex-wrap: wrap;
  }
  .curso-contet {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .titulo-1 {
    font-size: 35px;
  }
  .titulo-2 a {
    padding: 10px;
    font-size: 15px;
  }
  .titulo-2 a {
    flex-wrap: wrap;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
  }
  .titulo-2 {
    gap: 30px;
  }
  .titulo-1 {
    font-size: 30px;
  }
  .titulo-contet {
    height: 300px;
  }
  .titulo-contet {
    flex-direction: column;
    background: none;
  }
  .titulo {
    background: linear-gradient(rgb(110, 2, 110), black);
    height: 350px;
  }
  .titulo-contet {
    justify-content: left;
    max-width: 100%;
    margin: auto auto;
  }
}
@media (max-width: 450px) {
  .titulo-1 {
    word-break: break-all;
    font-size: 25px;
  }
  .titulo-2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
