@media (max-width: 450px) {
  .login-contet {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 60px;
  }
  .titulo-superior {
    background: linear-gradient(rgb(0, 0, 0), rgb(172, 39, 172));
    padding: 40px;
    margin-top: 0px;
    border: none;
    box-shadow: 5px 5px 30px black;
  }
}
@media (max-width: 450px) {
  .nome {
    font-size: 40px;
  }
  .flex {
    flex-direction: column;
  }
  .titulo-superior {
    padding: 80px;
  }
  .nome-1 {
    gap: 20px;
    margin-top: 30px;
  }
  .nome-1 a {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 450px) {
  .login-contet {
    padding: 35px;
  }
  .login-fundo {
    position: relative;
    right: 10px;
    padding: 25px;
  }
  .sub-titulo {
    font-size: 20px;
    left: 10px;
  }
}
@media (max-width: 395px) {
  .nome {
    word-break: break-all;
    font-size: 35px;
  }
  .nome-1 a {
    background-color: black;
    padding: 8px;
    border-radius: 10px;
  }
  .login-fundo {
    position: relative;
    right: 2px;
    padding: 20px;
  }
}
