@media (max-width: 800px) {
  .titulo-flex {
    flex-direction: column;
    justify-content: center;
  }
  .flex {
    flex-wrap: wrap;
    gap: 30px;
  }
  .flex-1 {
    flex-direction: column;
    display: block;
  }
  .flex-1 input {
    margin-bottom: 30px;
  }
  .contet-grid {
    display: inline;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .compra-contet {
    height: 1000px;
  }
}
